@font-face { font-family:Fugaz One; src: url("../fonts/FugazOne-Regular.ttf"); }
@font-face { font-family:Montauk-Regular; src: url("../fonts/Montauk-Light.otf"); }

.header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 55.56vh;
    background-image: url(../assets/homeHero.jpg);
    background-size: cover;
  }
  .photos{
    display: grid;
    grid-template-rows: 80px;
}

.photosHeader{
    background-color: white;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photosHeader * {
    color: #5F002B;
    font-size: 50px;
    font-family: Fugaz One;
}

@media only screen and (max-width: 991px) {
    .header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 25vh;
    background-image: url(../assets/homeHero.jpg);
    background-size: cover;
    }

    .photo-card-md {
        width: 298.5px; 
        border-radius: 0; 
        margin: auto; 
        float: none; 
        margin-bottom: 0.75rem;
    }
  }
  @media only screen and (min-width: 991px) {
  .photo-card {
    width: 398px; border-radius: 0; margin: auto; float: none; margin-bottom: 0.75rem;
  }
}