@font-face { font-family:Fugaz One; src: url("../fonts/FugazOne-Regular.ttf"); }
@font-face { font-family:Montauk-Regular; src: url("../fonts/Montauk-Light.otf"); }


/*About Sections*/

.aboutSection1{
    display: grid;
    grid-template-columns: 42% 58%;
    padding:44px 7.3%;
}

.aboutSectionItem1_1{
    grid-column: 1;
    width: 100%;
}

.aboutSectionItem1_2{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    padding: 30px 40px;
    padding-right: 64px;
}

.aboutSectionItem1_2_Title{
    color: #5F002B;
    font-family: Fugaz One;
    font-size: 50px;
    line-height: 1.1;
}

.aboutSectionItem1_2_Paragraph{
    color: #5F002B;
    font-family: Montauk-Regular;
    font-size: 20px;
    line-height: 1.26;
}

.aboutSection2{
    display: grid;
    grid-template-columns: 1fr 16px 1fr 16px 1fr;
    grid-template-rows: 80px 34px 732px 20px 732px;
    padding: 44px 7.3%; 
}

.aboutSectionItem2_1{
    background-color: white;
    grid-row: 1;
    grid-column: 1/spans;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutSectionItem2_1 * {
    color: #5F002B;
    font-size: 30px;
    font-family: Fugaz One;
}

.aboutSectionItem2_2-7{
    background-color: white;
    display: flex;
    flex-direction: column;
}

.aboutSectionItem2_2-7 .title{
    color: #5F002B;
    font-size: 30px;
    font-family: Fugaz One;
    padding: 0px 30px ;
    padding-top: 13px;
}

.aboutSectionItem2_2-7 .description{
    color: #5F002B;
    font-size: 20px;
    font-family: Montauk-Regular;
    line-height: 1.1;
    padding: 0px 30px ;
}


/*Catering Sections*/

.catering{
    display: grid;
    grid-template-rows: 80px 86px 500px 90px 366px 99px 357px;
}

.cateringHeader{
    background-color: white;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cateringHeader * {
    color: #5F002B;
    font-size: 50px;
    font-family: Fugaz One;
}

.cateringHero{
    grid-row: 3;
}

.cateringHero *{
    width: 100%;
    overflow: hidden;
}

.cateringMain{
    grid-row: 5;
    width: 100%;
    display: grid;
    grid-template-columns: 415fr 16px 585fr;
}


.cateringMain .photo{
    grid-column: 1;
}

.cateringMain .photo *{
    width: 100%;
    overflow: hidden;
}

.cateringMain .description{
    grid-column: 3;
    background-color: white;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 41px;
    padding-bottom: 25px;
}

.cateringMain .description .title{
    
    color: #5F002B;
    font-size: 30px;
    line-height: 1.46;
    font-family: Fugaz One;
}

.cateringMain .description .paragraph{
    color: #5F002B;
    font-size: 20px;
    line-height: 1.1;
    font-family: Montauk-Regular;
}

.cateringGallery{
    grid-row: 7;
    display: grid;
    grid-template-columns: 1fr 16px 1fr 16px 1fr;
}

.cateringGallery *{
    width: 100%;
    overflow: hidden;
}


















.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
    padding: 44px 7.3%; 
}

.footer .text{
    color: #5F002B;
    font-family: Montauk-Regular;
    font-size: 20px;
    line-height: 1.1;
}
