@font-face { font-family:Fugaz One; src: url("../fonts/FugazOne-Regular.ttf"); }
@font-face { font-family:Montauk-Regular; src: url("../fonts/Montauk-Regular.otf"); }
@font-face { font-family:Montauk-Light; src: url("../fonts/Montauk-Light.otf"); }

/* General CSS */

body {
    background-image: url("../assets/bgtexture.jpg");
}

.nav-link {
    font-family: 'Fugaz One', sans-serif;
    color: #5F002B;
   margin-right: 1rem;
}

.navbar {
    padding-left: 10%;
    padding-right: 7.3%;
}


#navbarNav {
    justify-content: end;
    font-size: 20px;
    
}

@media only screen and (min-width: 1920px) {
    .footer {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-row: 1fr 1fr;
        padding: 44px 7.3%;
    }
    
    .footer .text {
        color: #5F002B;
        font-family: Montauk-Regular;
        font-size: 20px;
        line-height: 1.1;
    }

    .footer .location1{
        grid-row: 1;
        display: flex;
        align-self: end;
    }

    .footer .location2{
        grid-row: 2;
        display: flex;
        align-self: end;
    }

    .footer .location3{
        grid-row: 1;
        display: flex;
        align-self: end;
        justify-self: end;
    }

    .footer .location4{
        grid-row: 2;
        display: flex;
        align-self: end;
        justify-self: end;
        text-align: end;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1919px) {
    .footer {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 35px 35px;
        padding: 33px 7.3%;
    }
    
    .footer .text {
        color: #5F002B;
        font-family: Montauk-Regular;
        font-size: 18px;
        line-height: 1.1;
    }

    .footer .location1{
        grid-row: 1;
        display: flex;
        align-self: end;
    }

    .footer .location2{
        grid-row: 2;
        display: flex;
        align-self: end;
    }

    .footer .location3{
        grid-row: 1;
        display: flex;
        justify-self: end;
    }

    .footer .location4{
        grid-row: 2;
        display: flex;
        justify-self: end;
        align-self: end;
    }
}

@media only screen and (max-width: 767px) {
    .navImage{
        width: 50%;
    }
   
    .footer {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 100%;
        padding: 22px 7.3%;
        
    }
    
    .footer .text {
        color: #5F002B;
        font-family: Montauk-Regular;
        font-size: 15px;
        line-height: 1.1;
        text-align: center;
    }

    .footer .location1{
        grid-row: 1;
    }

    .footer .location2{
        grid-row: 2;
    }

    .footer .location3{
        grid-row: 4;
        display: flex;
        justify-self: center;

    }

    .footer .location4{
        grid-row: 3;
    }
}




/* -------------------------------------------------------------------------------- */
/* George CSS Goes Here */

.header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 55.56vh;
    background-image: url(../assets/homeHero.jpg);
    background-size: cover;
  }
  .photos{
    display: grid;
    grid-template-rows: 80px;
}

.photosHeader{
    background-color: white;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photosHeader * {
    color: #5F002B;
    font-size: 50px;
    font-family: Fugaz One;
}

@media only screen and (max-width: 991px) {
    .header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 25vh;
    background-image: url(../assets/homeHero.jpg);
    background-size: cover;
    }

    .photo-card-md {
        width: 298.5px; 
        border-radius: 0; 
        margin: auto; 
        float: none; 
        margin-bottom: 0.75rem;
    }
    .mSG-md {
        font-size: 40px; font-family:Fugaz One; color: #5F002B;
      }
    .ct {
        font-size: 2vw; font-family:Montauk-light; color: #5F002B; margin-bottom: 3rem;
    }
  }
  @media only screen and (min-width: 991px) {
  .photo-card {
    width: 398px; border-radius: 0; margin: auto; float: none; margin-bottom: 0.75rem;
  }
  .mSG {
    font-size: 50px; font-family:Fugaz One; color: #5F002B;
  }
  .card-body {
    margin-left: 2.5rem; margin-right: 2.5rem;
  }
  .ct {
    font-size: 1vw; font-family:Montauk-light; color: #5F002B; margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 425px) {
    .mSG-sm {
        font-size: 20px; font-family:Fugaz One; color: #5F002B;
      }
      .ct {
        font-size: 3vw; font-family:Montauk-light; color: #5F002B; margin-bottom: 3rem;
      }
}

/* -------------------------------------------------------------------------------- */
/* Treece's CSS Goes Here */

.bkGround {
    padding: 0%;
    margin: 0%;
    background-color: white;
}

.txtColor {
    color: #5F002B;
    font-family: Fugaz One, sans-serif;
}

.fntName {
    color: #5F002B;
    font-family: Montauk, sans-serif;
    font-size: 20px;
}

.font {
    color: #5F002B;
}

.menu{
    display: grid;
    grid-template-columns: 1fr 16px 1fr;
    grid-template-rows: 250px 677px 20px 250px 677px;
    padding: 0px 7.3% ;
}

.menu .photo1{
    grid-row: 1;
    grid-column: 1;
    width: 100%;
}

.menu .header * {
    color: #5F002B;
    font-size: 50px;
    font-family: Fugaz One;
}

.edges {
    border-radius: 0px;
    border: 0px;
}

.subtitle{
    color: #5F002B;
    font-size: 10px;
    font-family: Montauk-Regular;
    line-height: 20px;
}


.foodItemAndPrice{
    color: #5F002B;
    font-size: 17px;
    font-family: Montauk-Regular;
    line-height: 20px;
}

/* -------------------------------------------------------------------------------- */
/* Joseph's CSS Goes Here */

/*About Sections*/

/* Desktop */
@media only screen and (min-width: 1920px) {

    /* About Section */
    .aboutSection1 {
        display: grid;
        grid-template-columns: 42% 58%;
        padding: 44px 7.3%;
    }

    .aboutSectionItem1_2 {
        background-color: white;
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        padding: 30px 40px;
        padding-right: 64px;
    }

    .aboutSection2 {
        display: grid;
        grid-template-columns: 32.68% 0.98% 32.68% 0.98% 32.68%;
        grid-template-rows: 80px 34px 732px 20px 732px;
        padding: 44px 7.3%;
    }

    .aboutSection2 .location1 {
        grid-row: 3;
        grid-column: 1;
    }

    .aboutSection2 .location2 {
        grid-row: 3;
        grid-column: 3;
    }

    .aboutSection2 .location3 {
        grid-row: 3;
        grid-column: 5;
    }

    .aboutSection2 .location4 {
        grid-row: 5;
        grid-column: 1;
    }

    .aboutSection2 .location5 {
        grid-row: 5;
        grid-column: 3;
    }

    .aboutSection2 .location6 {
        grid-row: 5;
        grid-column: 5;
    }

    /* Catering */

    .catering {
        display: grid;
        grid-template-rows: 80px 86px max-content 90px max-content 99px max-content;
    }

    .cateringHero {
        grid-row: 3;
    }
    
    .cateringHero * {
        width: 100%;
        overflow: hidden;
    }

    .cateringMain {
        grid-row: 5;
        width: 100%;
        display: grid;
        grid-template-columns: 700fr 16px 950fr;

    }

    .cateringMain .photo {
        grid-column: 1;
    }

    .cateringMain .photo * {
        width: 100%;
        overflow: hidden;
    }

    .cateringMain .description {
        grid-column: 3;
        background-color: white;
        padding-top: 15px;
        padding-left: 40px;
        padding-right: 41px;
        padding-bottom: 20px;
        overflow: hidden;
    }

    .cateringGallery {
        grid-row: 7;
        display: grid;
        grid-template-columns: 1fr 16px 1fr 16px 1fr;
    }

    .cateringGallery .location1{
        grid-column: 1;
    }

    .cateringGallery .location2{
        grid-column: 3;
    }

    .cateringGallery .location3{
        grid-column: 5;
    }

    
    .cateringGallery .location4{
        display: none;
    }

}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1919px) {
    .aboutSection1 {
        display: grid;
        grid-template-rows: 40% auto;
        padding-top: 44px;
        padding-left: 7.3%;
        padding-right: 7.3%;;
    }

    .aboutSectionItem1_2 {
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 30px 40px;
        padding-right: 64px;
    }

    .aboutSection2 {
        display: grid;
        grid-template-columns: 49% 2% 49%;
        grid-template-rows: 80px 1rem max-content 20px max-content 20px 1fr;
        padding: 44px 7.3%;
    }

    .aboutSection2 .location1 {
        grid-row: 3;
        grid-column: 1;
    }

    .aboutSection2 .location2 {
        grid-row: 3;
        grid-column: 3;
    }

    .aboutSection2 .location3 {
        grid-row: 5;
        grid-column: 1;
    }

    .aboutSection2 .location4 {
        grid-row: 5;
        grid-column: 3;
    }

    .aboutSection2 .location5 {
        grid-row: 7;
        grid-column: 1;
    }

    .aboutSection2 .location6 {
        grid-row: 7;
        grid-column: 3;
    }

    /* Catering */

    .catering {
        display: grid;
        grid-template-rows: 80px 43px max-content 45px max-content 50px max-content;
        ;
    }

    .cateringHero {
        grid-row: 3;
    }
    
    .cateringHero * {
        width: 100%;
        overflow: hidden;
    }

    .cateringMain {
        grid-row: 5;
        width: 100%;
        display: grid;
        grid-template-columns: 415fr 16px 585fr;
    }


    .cateringMain .photo {
        display: none;
    }

    .cateringMain .photo * {
        width: 100%;
        overflow: hidden;
    }

    .cateringMain .description {
        grid-column: 1/spans;
        background-color: white;
        padding-top: 30px;
        padding-left: 40px;
        padding-right: 41px;
        padding-bottom: 25px;
    }

    .cateringGallery {
        grid-row: 7;
        display: grid;
        grid-template-columns: 1fr 16px 1fr;
        grid-template-rows: 1fr 16px 1fr;
    }

    .cateringGallery .location1{
        grid-column: 1;
        grid-row: 1;
    }

    .cateringGallery .location2{
        grid-column: 3;
        grid-row: 1;
    }

    .cateringGallery .location3{
        grid-column: 1;
        grid-row: 3;
    }
    
    .cateringGallery .location4{
        grid-column: 3;
        grid-row: 3;
        width: 100%;
        height: 100%;
    }

}

/* Mobile */
@media only screen and (max-width: 767px) {

    
    /* About */
    .aboutSection1 {
        display: grid;
        grid-template-rows: max-content max-content;
        padding: 15px 7.3%;
    }

    .aboutSectionItem1_2 {
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 30px 40px;
        padding-right: 64px;
    }

    .aboutSection2 {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 80px 1rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
        padding: 15px 7.3%;
    }

    .aboutSection2 .location1 {
        grid-row: 3;
        grid-column: 1;
    }

    .aboutSection2 .location2 {
        grid-row: 5;
        grid-column: 1;
    }

    .aboutSection2 .location3 {
        grid-row: 7;
        grid-column: 1;
    }

    .aboutSection2 .location4 {
        grid-row: 9;
        grid-column: 1;
    }

    .aboutSection2 .location5 {
        grid-row: 11;
        grid-column: 1;
    }

    .aboutSection2 .location6 {
        grid-row: 13;
        grid-column: 1;
    }

    /* Catering */

    .catering {
        display: grid;
        grid-template-rows: 80px 30px max-content 30px max-content 30px max-content;
    }

    .cateringHero {
        grid-row: 3;
        display: grid;
        place-items: center;
        overflow: hidden;
    }
    
    .cateringHero * {
        width: 200%;
        justify-self: center;
    }

    .cateringMain {
        grid-row: 5;
        width: 100%;
        display: grid;
        grid-template-columns: 415fr 16px 585fr;
    }


    .cateringMain .photo {
        grid-column: 1;
        display: none;
    }

    .cateringMain .photo * {
        width: 100%;
        overflow: hidden;
    }

    .cateringMain .description {
        grid-column: 1/spans;
        background-color: white;
        padding-top: 30px;
        padding-left: 40px;
        padding-right: 41px;
        padding-bottom: 25px;
    }


    .cateringGallery {
        grid-row: 7;
        display: grid;
        grid-template-rows: 1fr 16px 1fr 16px 1fr 16px 1fr;
    }

    .cateringGallery .location1{
        grid-row: 3;
    }

    .cateringGallery .location2{
        grid-row: 5;
    }

    .cateringGallery .location3{
        grid-row: 7;
    }
    
    .cateringGallery .location4{
        grid-row: 1;
        width: 100%;
        height: 100%;
    }

}

.aboutSectionItem1_1 {
    grid-column: 1;
    width: 100%;
    overflow: hidden;
}

.aboutSectionItem1_2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    padding-right: 64px;
}

.aboutSectionItem1_2_Title {
    color: #5F002B;
    font-family: Fugaz One;
    font-size: 50px;
    line-height: 1.1;
}

.aboutSectionItem1_2_Paragraph {
    color: #5F002B;
    font-family: Montauk-Light;
    font-size: 20px;
    line-height: 1.26;
}


.aboutSectionItem2_1 {
    background-color: white;
    grid-row: 1;
    grid-column: 1/spans;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutSectionItem2_1 * {
    color: #5F002B;
    font-size: 30px;
    font-family: Fugaz One;
}

.aboutSectionItem2_2-7 {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.aboutSectionItem2_2-7 .title {
    color: #5F002B;
    font-size: 30px;
    font-family: Fugaz One;
    padding: 0px 30px;
    padding-top: 13px;
}

.aboutSectionItem2_2-7 .description {
    color: #5F002B;
    font-size: 20px;
    font-family: Montauk-Light;
    line-height: 1.1;
    padding: 0px 30px;
}


/*Catering Sections*/

.cateringHeader {
    background-color: white;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cateringHeader * {
    color: #5F002B;
    font-size: 50px;
    font-family: Fugaz One;
}

.cateringMain .description .title {

    color: #5F002B;
    font-size: 30px;
    line-height: 1.46;
    font-family: Fugaz One;
}

.cateringMain .description .paragraph {
    color: #5F002B;
    font-size: 20px;
    line-height: 1.1;
    font-family: Montauk-Light;
}


.cateringGallery * {
    width: 100%;
    overflow: hidden;
}