@font-face { font-family:Fugaz One; src: url("../fonts/FugazOne-Regular.ttf"); }

.bkGround {
    background-color: white;
    /* margin: 7.3%; */
    margin-left: 7.3%;
    margin-right: 7.3%;
}

.txtColor {
    color: #5F002B;
    font-family: Fugaz One, sans-serif;
}

.menu{
    display: grid;
    grid-template-columns: 1fr 16px 1fr;
    grid-template-rows: 250px 677px 20px 250px 677px;
    padding: 0px 7.3% ;
}

.menu .photo1{
    grid-row: 1;
    grid-column: 1;
    width: 100%;
}